force-app/main/default/flows/Full_Logic_Autolaunched_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Last_Version_Of_Lead_Address_Validation_API</name>
        <label>Last Version Of Lead Address Validation API</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>LeadAddressValidationAPI.LeadAddressValidationAPI</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Handle_Status_Code_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>recordId.Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PostalCode</name>
            <value>
                <elementReference>recordId.PostalCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadAddressValidationAPI.LeadAddressValidationAPI</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Places_Array</name>
        <label>Assign Places Array</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PlacesApexDefined</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Version_Of_Lead_Address_Validation_API.2XX.places</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Places_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_From_Places</name>
        <label>Assign Values From Places</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>LeadCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Places_Collection.placex20name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Places_Collection.state</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Places_Collection.latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Places_Collection.longitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Places_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLatAndLongToNumberVariable</name>
        <label>AssignLatAndLongToNumberVariable</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>LeadLatInt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadLatFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadLongInt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadLongFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Handle_Status_Code_Decision</name>
        <label>Handle Status Code Decision</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Not Ok</defaultConnectorLabel>
        <rules>
            <name>Ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_Version_Of_Lead_Address_Validation_API.responseCode</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Last_Version_Of_Lead_Address_Validation_API.responseCode</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>300.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Places_Array</targetReference>
            </connector>
            <label>Ok</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LeadLatFormula</name>
        <dataType>Number</dataType>
        <expression>VALUE({!LeadLatitude})</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>LeadLongFormula</name>
        <dataType>Number</dataType>
        <expression>VALUE({!LeadLongitude})</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>Full Logic Autolaunched Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Full Logic Autolaunched Flow</label>
    <loops>
        <name>Loop_Places_Collection</name>
        <label>Loop Places Collection</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>PlacesApexDefined</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_From_Places</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignLatAndLongToNumberVariable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>LeadCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Last_Version_Of_Lead_Address_Validation_API.2XX.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Updated_By_HTTP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>LeadLatInt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>LeadLongInt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Last_Version_Of_Lead_Address_Validation_API.2XX.postx20code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>LeadState</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Last_Version_Of_Lead_Address_Validation_API</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadLatInt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>LeadLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadLongInt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>LeadLongitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlacesApexDefined</name>
        <apexClass>ExternalService__LeadAddressValidationAPI_LeadAddressValidationAPI_OUT_2XX_places</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
